.App {
  height: 100vh;
  background: rgb(231, 222, 167);
  background: linear-gradient(
    90deg,
    rgba(231, 222, 167, 1) 0%,
    rgba(208, 154, 169, 1) 55%,
    rgba(200, 164, 174, 1) 100%
  );
}
