.Pokedex {
  margin-top: 10%;
  display: grid;
  align-items: center;
}
.Pokedex h1, p {
  justify-self: center;
  margin-block-end: 0%;
}
.Pokedex p{
  margin-block-start: 0%;
  margin-block-end: 3%;
}
.Pokedex .WinMessage{
  color: rgb(1, 155, 1);
}
.Pokedex .LostMessage{
  color: rgb(190, 3, 18);
}

.Pokedex .cardsSection {
  display: grid;
  grid-template-columns: repeat(1, 0.5fr);
  grid-gap: 3em 4em;
  justify-content: center;
  gap: 1em 4em;
}

@media only screen and (min-width: 600px) {
  .Pokedex .cardsSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0em 2em;
  }
}

@media only screen and (min-width: 768px) {
  .Pokedex .cardsSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0em 2em;
  }
}

@media only screen and (min-width: 992px) {
}
