.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;/* prevent going over the edges */
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;/* side drawer will be place above de backdrop */
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box; /* adjust the size to the padding */
    transition: transform 0.3s ease-out; /* animation for closing or opening */
}

@media (min-width: 500px) { /* visible on mobile screens */
    .SideDrawer {
        display: none;
    }
}

/* attached conditionally */

.Open {
    transform: translateX(0);/* shift the sidedrawer into the position */
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}