.Pokedex{

    display: grid;
    align-items: center;
}
.Pokedex h1{
    justify-self: center;
}

.Pokedex .cardsSection{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0em 4em;
}